<br />
<h1 class="title is-3 has-text-centered" >Your Blogs</h1>
<br />
{{#each posts as |postList| }}
<div class='test'>
        <section class = 'button-box'>
          <button type="button" class="formButton" id={{postList.id}}>{{postList.content}}</button>
        </section>      
        <section class = 'main-box' id='edit-{{postList.id}}'>
          <section class='input-box'>
            <p>Edit Post</p>
            <div class="field">
              <label class="label title-section has-text-centered">Title</label>
              <div class="control">
                <input class="input" id='title-{{postList.id}}' type="text" placeholder="Text input" value="{{postList.title}}">
              </div>
            </div>
            <div class="field content-section">
              <label class="label has-text-centered">Content</label>
              <div class="control">
                <textarea class="textarea" id='content-{{postList.id}}' placeholder="Textarea">{{postList.content}}</textarea>
              </div>
            </div>          
            <div class="field is-grouped">
              <div class="control">
                <button class="button is-link is-rounded updateBtn" id={{postList.id}}>Update</button>
                <button class="button is-link is-rounded deleteBtn" id={{postList.id}}>Delete</button>
              </div>
            </div>
          </section> 
        </section>
      </div>
{{/each}}
    <script type="text/javascript" src="/js/dashboard.js"></script>
    <script type="text/javascript" src="/js/logout.js"></script>
    <link rel="stylesheet" href="/css/dashboard.css" />
