<h1 class="title is-3 has-text-centered" >Blog Posts</h1>
{{#each posts as |postList|}}
<br />
<article class="media">
  <div class="media-content">
    <div class="content">
      <p>
        <strong>{{postList.title}} </strong>
        <br />
         <i>by {{postList.username}}</i>
        <br />
        {{postList.content}}
        <br />
        <small><a>Like</a> 路 <a>Reply</a> 路 {{format_date postList.date_created}}</small>
        <br />
          <button class="button is-primary is-rounded commentBtn" id={{postList.id}}>Comments</button>
      </p>
    </div>
  </div>
</article>
<section class='comment-section' id='comment-{{postList.id}}'>
  <article class="media">
    <div class="media-content">
      <div class="field">
        <p class="control">
          <textarea class="textarea" id='comment-text-{{postList.id}}' placeholder="Add a comment..."></textarea>
        </p>
      </div>
      <div class="field">
        <p class="control">
          <button class="button postBtn" id={{postList.id}} >Post comment</button>
        </p>
      </div>
    </div>
  </article>
</section>
{{/each}}
<br />
<br />
<h1 class="title is-3 has-text-centered" >Comments</h1>
<div class="is-divider" data-content="OR"></div>
{{#each comments as |commentList|}}
    <article class="media">
      <div class="media-content">
        <div class="content">
          <p>
            <strong>User: </strong><i>{{commentList.username}}</i>
            <br />
            <strong>Blog: </strong><i>{{commentList.blogName}}</i>
            <br />
            {{commentList.comment}}
            <br />
            <small><a>Like</a> 路 <a>Reply</a> 路 {{format_date commentList.date_created}}</small>
          </p>
        </div>
      </div>
    </article>
{{/each}}

<script type="text/javascript" src="/js/homepage.js"></script>
<script type="text/javascript" src="/js/logout.js"></script>
<link rel="stylesheet" href="/css/style.css" />